*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-image: url(../Assets/pexels-fwstudio-129731.jpg);
    height: 100vh;
}

.navbar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1200px;
    width: 100%;
    background-color: rgba(108, 30, 30, 0.727);
    color: white;

}

a{
    color: white;
}

a:hover{
    color: gainsboro;
}

h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
    margin-top: 50px;
}

p{
    color: rgb(250, 250, 250);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 100px;
}
 .container{
    background-color: wheat;
    width: 700px;
    margin: 30px auto;
    border-radius: 10px;
 }

.card{
    margin: auto;
    width: 650px;
    height: 100px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:10px;
    border-radius: 20px;
    border-width: none;
}

.todoInput{
    width: 500px;
    border-radius: 10px;
    padding:10px;
    border: white;
}

.addbtn{
    background-color:rgba(108, 30, 30, 0.727);
    color: white;
    border-radius: 10px;
    width: 40px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.addbtn:hover{
    opacity: 1;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 10px; 
}

.toDo-item{
    width: 100%;
    min-height: 50px;
    list-style: none;
    padding: 10px;
    font-weight: 400;
    font-size: 30px;
    opacity: 0.5;
    transition: opacity 0.5s ease; 
}

.toDo-item:hover{
    opacity: 1;
}

.check-box{
    height: 60px;
    width: 50px;
    background-color:rgba(108, 30, 30, 0.727);
    color: white;
    border-radius: 10px;
    cursor: pointer; 
}

.removeBtn {
    height: 50px;
    width: 50px;
    background-color:rgba(108, 30, 30, 0.727);
    color: white;
    border-radius: 10px;
    cursor: pointer; 
    opacity: 0.5;
    transition: opacity 0.5s ease 
}

.removeBtn:hover{
    opacity: 1;
}

.fa-plus-square, .fa-trash-can{
    pointer-events: none;
} 


@media (max-width: 725px) {
    .navbar {
        gap: 300px;
    }

    h1{
        font-size: medium;
    }

    h2 {
        font-size: 28px;
        margin-top: 10px;
    }

    p {
        font-size: 16px;
        padding-top: 10px;
        margin-bottom: 30px;
    }


    .container{
        width: auto;
    }

    .card{
        width: auto;
        height: auto;
        padding: 15px;
    }

    .todoInput{
        width: auto;
    }

    .toDo-item{
        min-width: 300px !important;
    }
}